h1 {
  color: blue;
}


.square {
  width: 50%;
  height: 400px;
}

#pink {
  background-color: #ff54b5;
}

#orange {
  background-color: #ffbb37;
}

#yellow {
  background-color: #edea7f;
}

#green {
  background-color: #c6ff78;
}
